# Copyright (c) 2026 Aerlync Labs Inc.
# SPDX-License-Identifier: Apache-2.0

config ADC_LPC84X
	bool "LPC84X ADC driver"
	default y
	depends on DT_HAS_NXP_LPC84X_ADC_ENABLED
	help
	  ADC driver for LPC84x SoCs.
