# Copyright (c) 2026 Aerlync Labs Inc.
# SPDX-License-Identifier: Apache-2.0

config COMPARATOR_LPC84X_ACOMP
	bool "NXP LPC84X Analog Comparator Driver"
	default y
	depends on DT_HAS_NXP_LPC84X_ACOMP_ENABLED
	help
	  Enable driver for NXP LPC84X analog comparator peripheral.
